body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to bottom, #1e293b, #0f172a);
    color: white;
    text-align: center;
}

.title {
    margin: 20px;
}

/* LAB STAGE */
#lab-stage {
    width: 1200px;
    height: 700px;
    margin: auto;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 30px 60px rgba(0,0,0,0.7);
    background: linear-gradient(to bottom, #b57f50, #8b5a2b);
}

/* Layers */
#lab-background,
#equipment-layer,
#terminal-layer {
    position: absolute;
    width: 100%;
    height: 100%;
}

#wire-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.control-panel {
    margin-top: 25px;
}
